<md-content layout-align-gt-xs="center center" layout-fill layout="column" ng-cloak ng-controller="Navigation" class="transparent">
    <div class="md-whiteframe-5dp layout-content form-content" ng-controller="VehicleEdit">
        <md-toolbar ng-controller="LoginView">
            <div class="md-toolbar-tools">
                <h2>
                    <span>Wijzigt momenteel: @ViewData["naam"]</span>
                </h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="changeView('admin/machinebeheer')"><md-icon>arrow_back</md-icon></md-button>
            </div>
        </md-toolbar>
        <div class="content">
            <form name="gebruikerform" layout="column" ng-submit="EditMachine()">
                <p hidden ng-model="machineDetails.id" ng-init="machineDetails.id = '@ViewData["id"]'"></p>
                <md-input-container class="md-block inputnomargin">
                    <label>Machine naam</label>
                    <input required type="text" md-maxlength="45" name="machineName" ng-model="machineDetails.naam" ng-init="machineDetails.naam = '@ViewData["naam"]'">
                </md-input-container>

                <md-input-container class="md-block inputnomargin">
                    <label>Machine nummer</label>
                    <input required type="text" name="machineNum" ng-model="machineDetails.nummer" ng-init="machineDetails.nummer = '@ViewData["machinenummer"]'" minlength="2" maxlength="10">
                </md-input-container>

                <md-input-container class="md-block inputnomargin">
                    <label>Kenteken</label>
                    <input input type="text" name="machineKenteken" ng-model="machineDetails.kenteken" ng-init="machineDetails.kenteken = '@ViewData["kenteken"]'">
                </md-input-container>

                <md-input-container class="md-block inputnomargin">
                    <label>Categorie</label>
                    <md-select required ng-model="machineDetails.cato" ng-init="machineDetails.cato = '@ViewData["type"]'">
                        <md-option ng-repeat="n in types">
                            {{n}}
                        </md-option>
                    </md-select>
                </md-input-container>
            </form>
        </div>

        <md-divider></md-divider>
        <div layout="row" layout-align="end center" class="content-actions">
            <md-button ng-style="{color: 'red'}" ng-click="showConfirmDeleteDialog()">Verwijder Machine</md-button>
            <md-button class="md-primary md-raised" ng-click="showConfirmChangesDialog()">Pas Wijzigingen Toe</md-button>
        </div>

        <md-progress-linear ng-show="showLoading" md-mode="indeterminate"></md-progress-linear>
    </div>
</md-content>

<div class="body-halfbackground"></div>

@section scripts{
    <script src="~/js/admin.js"></script>
}